* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

h3,
p {
  margin: 15px;
  align-self: center;
  justify-self: center;
}
#google {
  position: absolute;
  width: 180px;
  top: 20px;
  left: 60%;
  height: 50px;
  cursor: pointer;
  justify-self: flex-end;
}

div > div {
  align-self: center;
  border-bottom: 1px solid gold;
  width: 100%;
  display: flex;
  justify-content: center;
}

div > div > button,
button {
  padding: 10px;
  margin: 20px 10px;
  cursor: pointer;
  width: 100px;
  align-self: flex-end;
}

.movie {
  border: 1px solid gold;
}
